@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Acme Corporation</h1>
    <p class="lead">Enter the draw by creating a submission if you have a valid serial number so you can purchase one of Acme Cooporation's products. You can only enter the draw if you have a valid serial number</p>
    <p><a href="/submissions/create" class="btn btn-primary btn-lg">Submit</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>About</h2>
        <p>
            This website is developed using ASP.NET, Visual Studio 2017 and SQL Server Management. 
            Also there is used a EntityFramework for the database. 
        </p>
    </div>
    <div class="col-md-4">
        <h2>To-Do's/Done</h2>
        <p>
            - Create a web application and secondary project for test and class library content
           <br /> - Create a database to store information for the draw
           <br /> - Generate 100 valid serial numbers
           <br /> - Create a submission form on a web page (data needs to be validated and stored in database)
           <br /> - Create a web page showing all submissions
           <br /> - Write unit tests for validating the form data to ensure the rules for entering the draw are followed
           <br /> - Write a readme.md

        </p>
    </div>
    <div class="col-md-4">
        <h2>AllSubmissions & Extra Info</h2>
        <p>There are generated 100 unique serialnumbers in the database. In this application if you want to submit you need a valid serialnumber and you can only use the serialnumber twice which is calculated through a counter in the database</p>
        <p><a class="btn btn-default" href="/Submissions">See List of Submissions &raquo;</a></p>
    </div>
</div>